body{
    width: 100%;
    overflow: hidden;
    min-width: 1180px;
    background:#fff;
    font-size:12px;
    color:#333;
    font-family: "faltxi","Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}
.f-cb {
    zoom: 1;
}
.f-cb::after {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    content: ".";
}